body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
}

.food-pickers {
  white-space: nowrap;
  font-size: large;
}

.container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 20px;
  align-items: stretch;
}

.comp-food-details {
  text-align: right;
  border-right: 4px solid gray;
  padding-right: 20px;
}

.nom-food-details {
  padding-left: 15px;
}

.nutrition-text {
  width: 80%;
  text-align: center;
}
